{{#partial "content"}}
  <div>
    <img src="/img/gitflow.png" alt="GitFlow" class="apply-success-img">
  </div>
  <div class="text-center">
    <h3><b>지원 기간이 아닙니다.</b></h3>
    <h3><i class="far fa-envelope"></i> mingood92@gmail.com</h3>
  </div>
{{/partial}}

{{>base}}