{{#partial "content"}}
  <div class="margin-auto text-center">
    <h3 class="index-msg"><b>데이터는 매일 새벽 갱신됩니다. 내일도 와주세요 :)</b></h3>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <!--<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
      <!--<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
    </ol>
    <div class="carousel-inner text-center">
      <div class="carousel-item active">
        <img class="home-index-carousel rounded" src="/img/scheduler_off.jpg" alt="GitFlow First">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <hr>

  <div class="introduce">
    <h3><i class="fab fa-gitter"></i>
      <strong class="home-english-font">GitFlow</strong>&nbsp;
      <strong>Intro</strong>
    </h3>
    <br>
    <p><h5><i class="fas fa-check"></i>&nbsp;&nbsp;개발자의 필수 요소라고 생각되는 GitHub 활용을 지향합니다.</h5></p>
    <p><h5><i class="fas fa-check"></i>&nbsp;&nbsp;IT 학부 구성원의 GitHub 정보를 한 곳에서 볼 수 있습니다.</h5></p>
    <p><h5><i class="fas fa-check"></i>&nbsp;&nbsp;내부 로직을 통해 프로젝트 코드를 분석하여 의미있는 작업량으로 산출합니다.</h5></p>
    <p><h5><i class="fas fa-check"></i>&nbsp;&nbsp;분석을 통해 산출된 자신의 작업량 데이터를 통해 스스로를 평가합니다.</h5></p>
    <p><h5><i class="fas fa-check"></i>&nbsp;&nbsp;데이터를 기준으로 산정된 랭킹을 통해 선의의 경쟁을 유도합니다.</h5></p>
    <p><h5><i class="fas fa-check"></i>&nbsp;&nbsp;매일 오전 03:00 ~ 06:00 사용자의 데이터가 갱신됩니다.</h5></p>
    <p><h5><i class="fas fa-check"></i>&nbsp;&nbsp;IT 학부의 발전과 학생들의 자기주도적인 학습을 지향합니다.</h5></p>
  </div>

  <br>
  <hr>
  <br>

  <div class="container margin-auto text-center">
    <h2><i class="fas fa-desktop"></i>
      <strong class="home-english-font">Developers</strong>
    </h2>

    <br/>

    <div class="row">
      <div class="col-sm">
        <a href="https://github.com/MinGOODdev" target="_blank">
          <img class="home-img" src="https://avatars3.githubusercontent.com/u/26575604?v=4" alt="UserAvatar">
          <div class="card-body text-dark">
            <h2><strong>
              <p class="card-text text-dark home-developer-name">조 민 국</p>
            </strong></h2>
          </div>
        </a>
      </div>

      <div class="col-sm">
        <a href="https://github.com/parkyounghwan" target="_blank">
          <img class="home-img" src="https://avatars2.githubusercontent.com/u/20623970?v=4" alt="UserAvatar">
          <div class="card-body text-dark">
            <h2><strong>
              <p class="card-text text-dark home-developer-name">박 영 환</p>
            </strong></h2>
          </div>
        </a>
      </div>

      <div class="col-sm">
        <a href="https://github.com/shddnrwls" target="_blank">
          <img class="home-img" src="https://avatars3.githubusercontent.com/u/25241026?s=400&v=4" alt="UserAvatar">
          <div class="card-body text-dark">
            <h2><strong>
              <p class="card-text text-dark home-developer-name">노 욱 진</p>
            </strong></h2>
          </div>
        </a>
      </div>
    </div>

    <hr>

    <!-- GitFlow 1st List -->
    <h2><i class="#"></i>
      <strong class="home-english-font">GitFlow 1st Member</strong>
    </h2>

    <br>

    <div class="row">
      <div class="col-sm">
        <a href="https://github.com/tails5555" target="_blank">
          <img class="home-img" src="https://avatars3.githubusercontent.com/u/31980898?s=400&v=4" alt="UserAvatar">
          <div class="card-body text-dark">
            <h2><strong>
              <p class="card-text text-dark home-developer-name">강 인 성</p>
            </strong></h2>
          </div>
        </a>
      </div>

      <div class="col-sm">
        <a href="https://github.com/kimdia200" target="_blank">
          <img class="home-img" src="https://avatars2.githubusercontent.com/u/37800688?s=400&v=4" alt="UserAvatar">
          <div class="card-body text-dark">
            <h2><strong>
              <p class="card-text text-dark home-developer-name">김 윤 수</p>
            </strong></h2>
          </div>
        </a>
      </div>

      <div class="col-sm">
        <a href="https://github.com/ldcpaul" target="_blank">
          <img class="home-img" src="https://avatars1.githubusercontent.com/u/39197978?s=400&v=4" alt="UserAvatar">
          <div class="card-body text-dark">
            <h2><strong>
              <p class="card-text text-dark home-developer-name">이 동 영</p>
            </strong></h2>
          </div>
        </a>
      </div>

      <div class="col-sm">
        <a href="https://github.com/namsoo5" target="_blank">
          <img class="home-img" src="https://avatars2.githubusercontent.com/u/35462671?s=400&v=4" alt="UserAvatar">
          <div class="card-body text-dark">
            <h2><strong>
              <p class="card-text text-dark home-developer-name">김 남 수</p>
            </strong></h2>
          </div>
        </a>
      </div>

      <div class="col-sm">
        <a href="https://github.com/jangheeseung" target="_blank">
          <img class="home-img" src="https://avatars1.githubusercontent.com/u/37691921?s=400&v=4" alt="UserAvatar">
          <div class="card-body text-dark">
            <h2><strong>
              <p class="card-text text-dark home-developer-name">장 희 승</p>
            </strong></h2>
          </div>
        </a>
      </div>

      <div class="col-sm">
        <a href="https://github.com/jaeryo2357" target="_blank">
          <img class="home-img" src="https://avatars3.githubusercontent.com/u/33657541?s=400&v=4" alt="UserAvatar">
          <div class="card-body text-dark">
            <h2><strong>
              <p class="card-text text-dark home-developer-name">양 민 욱</p>
            </strong></h2>
          </div>
        </a>
      </div>

      <div class="col-sm">
        <a href="https://github.com/HamJinKyoung" target="_blank">
          <img class="home-img" src="https://avatars2.githubusercontent.com/u/37386764?s=400&v=4" alt="UserAvatar">
          <div class="card-body text-dark">
            <h2><strong>
              <p class="card-text text-dark home-developer-name">함 진 경</p>
            </strong></h2>
          </div>
        </a>
      </div>

      <div class="col-sm">
        <a href="https://github.com/LeeEunHak" target="_blank">
          <img class="home-img" src="https://avatars3.githubusercontent.com/u/38286678?s=400&v=4" alt="UserAvatar">
          <div class="card-body text-dark">
            <h2><strong>
              <p class="card-text text-dark home-developer-name">이 은 학</p>
            </strong></h2>
          </div>
        </a>
      </div>

      <div class="col-sm">
        <a href="https://github.com/her0807" target="_blank">
          <img class="home-img" src="https://avatars3.githubusercontent.com/u/26570275?s=400&v=4" alt="UserAvatar">
          <div class="card-body text-dark">
            <h2><strong>
              <p class="card-text text-dark home-developer-name">허 수 진</p>
            </strong></h2>
          </div>
        </a>
      </div>

      <div class="col-sm">
        <a href="https://github.com/HanHyunsoo" target="_blank">
          <img class="home-img" src="https://avatars1.githubusercontent.com/u/37373826?s=400&v=4" alt="UserAvatar">
          <div class="card-body text-dark">
            <h2><strong>
              <p class="card-text text-dark home-developer-name">한 현 수</p>
            </strong></h2>
          </div>
        </a>
      </div>

      <div class="col-sm">
        <a href="https://github.com/tjruddl26" target="_blank">
          <img class="home-img" src="https://avatars1.githubusercontent.com/u/44986535?s=400&v=4" alt="UserAvatar">
          <div class="card-body text-dark">
            <h2><strong>
              <p class="card-text text-dark home-developer-name">육 재 서</p>
            </strong></h2>
          </div>
        </a>
      </div>
    </div>
  </div>

  <br>
  <hr>

  <div class="footer-margin-bottom text-center">
    <h5><i class="far fa-envelope"></i> mingood92@gmail.com</h5>
    <h3>&copy; 2018 GitFlow Version 2.9.0 All Rights Reserved.</h3>
  </div>
{{/partial}}

{{>base}}
