<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mingood.gitup.mapper.QuestionCommentMapper">

    <select id="findAllByQuestionId" resultType="QuestionComment">
        SELECT * FROM questioncomment
        WHERE questionId = #{questionId}
    </select>

    <insert id="insertQuestionComment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO questioncomment (questionId, comment, createdAt)
        VALUES (#{questionId}, #{comment}, #{createdAt})
    </insert>

</mapper>