<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mingood.gitup.mapper.QuestionMapper">

    <select id="findAll" resultType="Question">
        SELECT * FROM question
        ORDER BY createdAt DESC
    </select>

    <select id="findAllWithPagination" resultType="Question">
        <bind name="start" value="(pg - 1) * sz"/>
        SELECT * FROM question
        ORDER BY createdAt DESC
        LIMIT ${start}, ${sz}
    </select>

    <select id="findById" resultType="Question">
        SELECT * FROM question
        WHERE id = #{id}
    </select>

    <insert id="insertQuestion" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO question (content, createdAt)
        VALUES (#{content}, #{createdAt})
    </insert>

    <select id="count" resultType="int">
        SELECT COUNT(q.id)
        FROM question q
    </select>

</mapper>